// @import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

html {
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-family:
    Arial,
    YuGothic,
    Yu Gothic medium,
    Hiragino Sans,
    Meiryo,
    "sans-serif";
  background-color: #f7f7f7;
  /* color: #6d5c5a; */
  color: #505050;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
main,
footer {
  width: 100%;
}
main {
  flex-grow: 1;
}

a {
  max-width: 100%;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  display: block;
  padding: 1em;
  overflow-x: auto;
  letter-spacing: 0.1em;
  font-family: Arial, YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo,
    "sans-serif";
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px 20px;
  display: flex;
}
.inner .main {
  min-height: calc(100vh - 150px);
  padding-right: 40px;
  flex-grow: 1;
  min-width: 0;
  position: relative;
}
.inner .main::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 20px;
  width: 1px;
  background-color: #d3cece;
}
.heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  height: 48px;
  font-size: 1.5em;
  // font-family: var(--mincho-font);
}
.heading::before {
  content: "";
  width: 20px;
  height: 1px;
  margin-right: 10px;
  background-color: #6d5c5a;
}
.heading::after {
  content: "";
  width: 20px;
  height: 1px;
  margin-left: 10px;
  background-color: #6d5c5a;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-list li {
  width: 31.6%;
  margin-bottom: 24px;
}
.blog-list li:last-of-type {
  margin-bottom: 0px;
}
.blog-list li h2 {
  font-size: 17px;
}

.blog-list li .tag {
  display: table;
  height: 30px;
  margin-bottom: 4px;
  padding: 0;
  color: #6d5c5a;
  font-style: italic;
  position: relative;
  z-index: 10;
}
.blog-list li .tag a {
  height: 26px;
  padding: 0 12px 0 9px;
  border-radius: 13px;
  background-color: #be7b73;
  color: white;
  line-height: 26px;
}

.blog-list li a {
  width: 100%;
}
.blog-list li > a:hover .thumbnail img {
  transform: scale(1.06);
}
.thumbnail {
  width: 100%;
  margin-bottom: 6px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.thumbnail::after {
  content: "";
  display: block;
  padding-top: calc(100 / 170 * 100%);
}

.thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.blog-list .date {
  font-size: 13px;
  text-align: right;
}
.pager {
  display: flex;
  justify-content: center;
}
.pager li {
  margin: 4px 2px;
}
.pager li a {
  width: 21px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid #6d5c5a;
  background-color: #6d5c5a; */
}

.pager li.active a {
  color: #6d5c5a;
  /* background-color: white; */
  border-bottom: 1px solid #6d5c5a;
  pointer-events: none;
}

.search-text {
  margin-bottom: 8px;
}

.copyright {
  position: fixed;
  left: 20px;
  top: 50vh;
  padding: 4px 0;
  font-size: 13px;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  font-style: italic;
  font-family: var(--mincho-font);
  background-color: #eee;
}
.contents a {
  color: #3374b7;
  /* display:none; */
}
.imageContainer {
  max-width: 450px;
}
.imageContainer > span {
  position: unset !important;
}
.imageContainer img {
  position: relative !important;
  width: 100% !important;
  height: unset !important;
}

@media screen and (max-width: 1310px) {
  footer {
    padding: 10px 20px;
  }
  .copyright {
    position: static;
    transform: translateY(0);
    display: table;
    margin: 0 auto;
    padding: 4px;
    writing-mode: horizontal-tb;
  }
}

@media screen and (max-width: 1100px) {
  .inner {
    flex-direction: column;
  }

  .inner .main {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .inner .main::after {
    background-color: transparent;
  }
  .sidebar {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .blog-list li {
    width: 47%;
  }
}
@media screen and (max-width: 540px) {
  body {
    font-size: 15px;
  }
  code {
    padding: 0.8em;
    font-size: 14px;
  }
  .inner {
    padding-top: 20px;
  }
  .heading {
    font-size: 21px;
    height: 42px;
  }

  .blog-list li {
    width: 100%;
  }
  .blog-list li h2 {
    font-size: 18px;
  }
  .thumbnail {
    max-width: none;
  }
  footer {
    padding-bottom: 50px;
  }
}

.sidebar {
  width: 220px;
  margin-left: 40px;
  flex-shrink: 0;
}
.tags li {
  width: fit-content;
  margin-bottom: 0px;
}
.tags li a {
  padding: 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted #6d5c5a;
  background-color: #f7f7f7;

  color: #6d5c5a;
  font-style: italic;
}

.sidebar-title {
  margin-bottom: 0.3em;
  font-family: var(--mincho-font);
  display: flex;
  align-items: center;
  color: #6d5c5a;
}
.sidebar-title::before {
  content: "";
  width: 20px;
  height: 1px;
  margin-right: 10px;
  background-color: #6d5c5a;
}
.sidebar-title::after {
  content: "";
  width: 20px;
  height: 1px;
  margin-left: 10px;
  background-color: #6d5c5a;
}
.search-form {
  margin-top: 30px;
  max-width: 400px;
  position: relative;
}
.search-form input {
  appearance: none;
  outline: none;
  display: block;
  width: 100%;
  height: 26px;
  margin-bottom: 12px;
  padding-right: 30px;
  border-bottom: 1px solid;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  background-color: transparent;
}
.search-form input:focus {
  border-bottom: 1px solid;
  border-right: none;
  border-left: none;
  border-top: none;
}
.search-form button {
  position: absolute;
  right: 0;
  top: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tags li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 540px) {
  .sidebar {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    border-top: 1px solid white;
  }
  .sidebar h2 {
    display: none;
  }
  .tags li {
    width: calc(100% / 3);
    margin: 0 !important;
  }
  .tags li:first-of-type a {
    border-right: 1px solid #d3cece;
  }
  .tags li:last-of-type a {
    border-left: 1px solid #d3cece;
  }
  .tags li a {
    width: 100%;
    height: 40px;
    padding: 4px;
    font-size: 14px;
    flex-direction: column;
    background-color: #eee;
    font-style: normal;
    border: none;
  }
  .search-form {
    display: none;
  }
}
@media screen and (max-width: 365px) {
  .tags li a {
    font-size: 3.8vw;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  transition: 0.3s;
  z-index: 3000;
  perspective: 500px;
}
.loading-text {
  font-size: 48px;
  letter-spacing: 0.16em;
  font-family: var(--mincho-font);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mr {
  margin-right: 0.5em;
}
@media screen and (max-width: 540px) {
  .loading-text {
    font-size: 9vw;
  }
}

.heading2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.image-wrap {
  margin-bottom: 1rem;
}
.image-wrap:hover {
  opacity: 0.8;
}

.contact-page {
  iframe {
    display: none;
  }
  form {
    margin-top: 10px;
  }
  form label {
    display: block;
    max-width: 400px;
    margin-bottom: 16px;
  }
  form label span {
    display: block;
  }
  form label input {
    appearance: none;
    outline: none;
    width: 100%;
    max-width: 400px;
    height: 30px;
    border: 1px solid #d3cece;
    border-radius: 0px;
  }
  form label input:focus {
    border: 1px solid #42b5e0;
  }

  form label textarea {
    appearance: none;
    resize: none;
    outline: none;
    width: 100%;
    max-width: 400px;
    height: 130px;
    padding: 8px 2px;
    font-family: Arial, YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo,
      "sans-serif";
    border: 1px solid #d3cece;
    border-radius: 0px;
  }
  form label textarea:focus {
    border: 1px solid #42b5e0;
  }
  form button[type="submit"] {
    appearance: none;
    max-width: 400px;
    position: relative;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #050505;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
    font-family: Arial, YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo,
      "sans-serif";
  }
  form button[type="submit"]:hover {
    opacity: 0.5;
  }

  .thanks {
    color: red;
  }
}
